node_modules/

.git/
.expo/
supabase/.temp/

dist/
web-build/
expo-env.d.ts

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo
*.sqlite
*.sqlite3

.natively/

android/
ios/

package-lock.json

.next/
.turbo/
.vercel/
.cache/
build/
yarn.lock
next-env.d.ts
